@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-green-primary: #1B5E20;
  --color-brown-earth: #5D4037;
  --color-beige-soft: #F1F8E9;
  --color-accent-lime: #a3e635;
  
  /* Bio-Industrial Palette */
  --color-deep-forest: #0B2010;
  --color-earthy-gold: #C5A059;
  --color-slate-white: #F5F7F6;
}

button {
  cursor: pointer !important;
}

body {
  background-color: var(--color-beige-soft);
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

p,
span,
input,
textarea,
button,
a,
li,
ul,
ol,
div {
  font-family: "Outfit", sans-serif;
}

/* Hide Default Google Translate UI Elements */
.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-icon {
  display: none !important;
}

body {
  top: 0px !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

#google_translate_element {
  display: none !important;
}

.skiptranslate {
  display: none !important;
}